/* Colors

accent - #2196F3
titlecolor - #212121
textcolor - ##757575 
primewhite - #FFFFFF 
hoverbutton -  #188CE8 
footertext - rgba(255, 255, 255, 0.6) 
buttonbackground -  #F5F4FA
mainbackground - #2F303A; */

:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --primewhite: #ffffff;
  --hoverbutton: #188ce8;
  --footertext: rgba(255, 255, 255, 0.6);
  --buttonbackground: #f5f4fa;
  --mainbackground: #2f303a;
}

/* CURRENT */

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;

  right: 0;
  bottom: -1px;

  background: var(--accent-color);
  border-radius: 2px;
}

/* Presettings for tegs */

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.nav-list-item .current {
  color: var(--accent-color);
}

.button-list .currentbutton {
  color: var(--primewhite);
  background-color: var(--accent-color);
}

/* header */

.header > .container {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}

.connects-list {
  display: flex;
}
.header {
  position: fixed;
  width: 100%;

  top: 0;
  left: 0;
  z-index: 1;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: var(--primewhite);
}

.header-connects {
  margin-left: auto;
}

.header-link {
  display: flex;
  align-items: center;
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* header logo */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
}

.logo .web,
.footer-logo .web {
  color: var(--accent-color);
}

/* header navigation */
.nav-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: inherit;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* header links */
.connects-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connects-list a:hover,
.connects-list a:focus {
  color: var(--accent-color);
}

.connects-item:not(:last-child) {
  margin-right: 50px;
}
/* Hero section */

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  background-color: var(--mainbackground);
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primewhite);

  margin-bottom: 30px;
}

.hero-button,
.email-btn,
.send-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primewhite);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.email-btn:hover,
.email-btn:focus,
.send-btn:hover,
.send-btn:focus {
  background-color: var(--hoverbutton);
  cursor: pointer;
}

/* Benefits section  */

.benefits-icon-wrap {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.benefits-section {
  padding: 94px 0;
}
.benefits-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.benefits-item:not(:first-child) {
  margin-left: 30px;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

/* WeDo title and Team title  */

.wedo-item {
  position: relative;
}

.image-text {
  font-size: 14px;
  line-height: 0.875;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primewhite);

  padding: 27px 0;

  display: block;
}

.image-text-wraper {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.wedo-item:not(:first-child) {
  margin-left: 30px;
}

.wedo-section {
  padding-bottom: 94px;
}
.wedo-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wedo-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* Our Team section  */

.team-div {
  padding: 30px;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
  margin-left: 30px;
}

.team-section {
  padding: 94px 0;
  background: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}
.specialty {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover .list-icon,
.icon-link:focus .list-icon {
  fill: var(--primewhite);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
}

/* Clients-section  */

.clients-section {
  padding: 94px 0;
}

.clients-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);

  margin-bottom: 50px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* footer  */

.footer > .container {
  display: flex;
}

.footer-list li {
  display: flex;
}

.footer {
  padding: 60px 0;
}

footer {
  background-color: var(--mainbackground);
}

address {
  font-style: normal;
}

.locate {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primewhite);
  margin-bottom: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footertext);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primewhite);
  display: inline-block;
  margin-bottom: 20px;
}

.join {
  margin-left: 70px;
  padding-top: 12px;
}

.join-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-title,
.email-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: var(--primewhite);
}

.mailing {
  margin-left: auto;
  padding-top: 12px;
}

.email-footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-footer-input {
  margin-right: 12px;
  width: 358px;
  padding: 15px 0 15px 16px;
  background-color: var(--mainbackground);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primewhite);
  outline: none;
}

.email-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-icon {
  margin-left: 10px;
}
.email-btn {
  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

/* PORTFOLIO.HTML  */

/* Buttons section  */

.button-list-item:not(:first-child) {
  margin-left: 8px;
}

.button-list-item > button {
  padding: 6px 22px;
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
}
.button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-list button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--buttonbackground);
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list button:hover,
.button-list button:focus {
  color: var(--primewhite);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects section  */

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-section {
  padding: 94px 0;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-div {
  border: 1px solid #eeeeee;
  padding: 24px 20px;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-link:hover .project-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.project-overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: var(--primewhite);
}

/* Backdrop */

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--primewhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn:hover {
  cursor: pointer;
  fill: var(--accent-color);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

/* FORM  */

.form-title {
  margin-bottom: 12px;
  align-self: center;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.label-title {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.name-input,
.tel-input,
.email-input,
.feedback {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.effect-input:focus-within .input-icon,
.effect-input:focus-within input,
.effect-input:focus-within textarea {
  border-color: #188ce8;
  fill: #188ce8;
}

.feedback {
  padding: 12px 16px;
  margin-bottom: 20px;
}

.feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback {
  height: 120px;
  resize: none;
}

.form-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 9px;

  color: #757575;
}

.accept-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.conditions {
  text-decoration-line: underline;
  color: var(--accent-color);
  text-decoration-skip-ink: none;
}

.accept-label {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-accept:checked + .checkbox-icon {
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox-accept {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.send-btn {
  padding: 10px 52px;
  align-self: center;
}
