.icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover .list-icon,
.icon-link:focus .list-icon {
  fill: var(--primewhite);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
}
