/* WeDo title  */

.wedo-item {
  position: relative;
  &:not(:first-child) {
    margin-left: 30px;
  }
}

.image-text {
  font-size: 14px;
  line-height: 0.875;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primewhite);

  padding: 27px 0;

  display: block;
}

.image-text-wraper {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.wedo-section {
  padding-bottom: 94px;
}
.wedo-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wedo-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
